<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="DevExpress" value="https://nuget.devexpress.com/qjlhrFbv36fQJYTw9VFgDAiazp9PSts9C7aCwjrpjo8SGOsdyb/api/v3/index.json" allowInsecureConnections="True" />
    <add key="DevExpress Local" value="C:\Program Files\DevExpress 25.1\Components\Bin\NetCore" />
  </packageSources>
</configuration>
